:root {
  background-color: #353b57;
  --rosado: #d73186;
  --celeste: #36eee0;
  --amarillo: #ffe052;
  --morado: #6466af;
  --rosado-claro: #ff83b7;
  --color-texto: #ebebeb;
  --font-family-base: sans-serif;
}

* {
  box-sizing: border-box;
}

/* Define estilo para h1
tamaño de texto, alineacion, interlineado, y fuente */
h1 {
  display: flex;
  justify-content: center;
  font-size: 40px;
  line-height: 10px;
  font-family: var(--font-family-base);
}

/* Dfine estilo para h2
tipo de fuente */
h2 {
  font-family: var(--font-family-base);
  font-size: 16px;
}

/* Define caracteristicas del header
margen, paddin y box sizing por defecto 
color de letra y tamaño de la ventana al 50%*/
header {
  font-family: var(--font-family-base);
  margin: 0;
  padding: 0;
  color: var(--color-texto);
  height: 100%;
}

/* Define estilo de los enlaces a
fuente, tamaño de letra, y decoracion de texto (le quita el subrayado del link) */
a {
  font-size: 14px;
  text-decoration: none;
}

/* Define el estilo del cuadro de presentacion
flex, en columna, centrado, altura 100% y espaciado entre elementos de 15px */
.presentacion {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /*   background-color: #ccc; */
  margin: 0 10% 50px 10%;
}

/* Define el estilo de los elementos div dentro del cuadro presentacion
altura y ancho fijos, margen de 10px, espaciado igual entre ellos, alineados al centro y stretch */
.presentacion > div {
  /*   background-color: var(--rosado); */
  display: flex;
  flex-direction: column;
  margin: 10px 10px;
  align-content: center;
  align-items: start;
}

/* Define estilo de los h2 dentro del div
tamaño de texto y alineacion */
div > h2 {
  font-size: 14px;
  text-align: left;
  line-height: 0;
}

/* Define el estilo del img dentro del div
flex, margen dentro del recuadro, y altura maxima */
.presentacion > div > img {
  display: flex;
  max-height: 200px;
}

/* Se establece el estilo del recuadro menu
flex, espaciado entre ellos, centrado */
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #36eee0; */
  margin: 0 10%;
  border-top: 1px solid var(--color-texto);
  border-bottom: 1px solid var(--color-texto);
}

/* Establece estilo para el recuadro que contiene los elementos del menu
flex, sin estilo de lista (le quita el punteo), distancia gap, margen y padding */
.menu-seleccion {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 10px;
  padding: 0;
}

.menu-seleccion > li {
  display: flex;
  justify-content: center;
  height: 30px;
  width: 120px;
  /*   border: 1px solid black; */
}

/* Define estilo para los enlaces dentro del menu seleccion 
tiempo de transicion cambio de color*/
.menu-seleccion a {
  display: flex;
  transition: color 0.5s;
  position: relative;
}

/* Define el estilo de cambio de color de los enlaces a dentro del menu-seleccion
indica el color que tomara */
.menu-seleccion a:hover {
  color: var(--color-texto);
}

/* Define estilo enlace */
.sobre-mi a {
  color: var(--rosado);
}

.experiencia a {
  color: var(--celeste);
}

.educacion a {
  color: var(--amarillo);
}

.proyectos a {
  color: var(--morado);
}

.contacto a {
  color: var(--rosado-claro);
}

/* ----------------------------------- */

/* Define el estilo del main
flex, margin, paddin y box sizing por defecto
color de texto */
main {
  display: flex;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color-texto);
}

main > section {
  height: 100%;
  border-bottom: 1px solid black;
}

/* Establece una altura del 100% de la ventana para las secciones dentro del main */

/* Establece estilo para el recuadro del main class contenido 
De esta forma permite que los titulos se situen en el lado derecho e izquierdo*/
.contenido,
#section-sobre-mi,
#section-experiencia,
#section-educacion,
#section-proyectos,
#section-contacto {
  display: flex;
  width: 100%;
  min-height: 500px;
  flex-direction: column;
  margin: 20px 0;
}

/* Define estilo para la seccion */
#section-sobre-mi > h2 {
  padding: 10px;
  margin: 0 10%;
  color: var(--rosado);
  text-align: left;
  border-bottom: 1px solid var(--color-texto);
}

#section-sobre-mi > a {
  text-align: right;
  margin-right: 10%;
  margin-top: 8px;
}

#section-experiencia > h2 {
  padding: 10px;
  margin: 0 10%;
  text-align: right;
  color: var(--celeste);
  border-bottom: 1px solid var(--color-texto);
}

#section-experiencia > a {
  text-align: left;
  margin-left: 10%;
  margin-top: 8px;
}

#section-educacion > h2 {
  padding: 10px;
  margin: 0 10%;
  text-align: left;
  color: var(--amarillo);
  border-bottom: 1px solid var(--color-texto);
}

#section-educacion > a {
  text-align: right;
  margin-right: 10%;
  margin-top: 8px;
}

#section-proyectos > h2 {
  padding: 10px;
  margin: 0 10%;
  text-align: right;
  color: var(--morado);
  border-bottom: 1px solid var(--color-texto);
}

#section-proyectos > a {
  text-align: left;
  margin-left: 10%;
  margin-top: 8px;
}

.sobre-mi-info {
  /*   border: 3px solid black; */
  margin: 0 10% 0 10%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sobre-mi-texto,
.sobre-mi-fotos {
  display: flex;
  /*   border: 1px solid orange; */
  height: 100%;
  width: 100%;
  align-content: center;
}

.sobre-mi-fotos {
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.sobre-mi-fotos > img {
  max-width: 80px;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.sobre-mi-texto {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.sobre-mi-texto > article > p {
  display: flex;
  width: 80%;
  height: 80px;
}

.sobre-mi-texto > .right {
  display: flex;
  justify-content: end;
  margin-right: 2%;
}

.sobre-mi-texto > .left {
  display: flex;
  justify-content: start;
  margin-left: 2%;
}

.c1 {
  border: 1px solid var(--rosado);
}

.c2 {
  border: 1px solid var(--celeste);
}

.c3 {
  border: 1px solid var(--amarillo);
}

.c4 {
  border: 1px solid var(--morado);
}

#section-contacto > h2 {
  padding: 10px;
  margin: 0 10%;
  text-align: center;
  color: var(--rosado-claro);
  border-bottom: 1px solid var(--color-texto);
}

.rrss {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rrss-seleccion {
  /*   border: 1px solid orange; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  height: 100%;
  width: 80%;
  margin: 20px 10px;
  padding: 0;
  font-family: var(--font-family-base);
}

.rrss-seleccion > li {
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.rrss-seleccion > li > img {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 10px;
  /*   border: 1px solid black; */
  max-height: 50px;
  width: 70px;
}

.rrss-seleccion > li > a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 10px;
  /*   border: 1px solid black; */
  height: 30px;
  width: 70px;
}

/* .contenido > .contacto {
  border: 3px solid black;
} */

.contacto > h3 {
  color: var(--amarillo);
  font-family: var(--font-family-base);
  text-align: center;
  margin-top: 70px;
}

.correo {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.correo-info {
  display: flex;
  list-style: none;
  gap: 15px;
  padding: 0;
  margin: -15px;
}

.correo-info > p {
  font-family: var(--font-family-base);
  text-align: center;
  font-size: 12px;
}

.correo-info > img {
  display: flex;
  max-height: 40px;
}

/* ------------------------------------ */

footer {
  font-family: var(--font-family-base);
  font-size: 10px;
  text-align: center;
  color: var(--color-texto);
  border-top: 1px solid var(--color-texto);
  margin: 0 10%;
  padding: 10px;
}
